[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asyncpg = "*"
click = "*"
colorama = "*"
dlib = "*"
face-recognition = "*"
fastapi = "*"
h11 = "*"
httptools = "*"
loguru = "*"
numpy = "*"
pydantic = "*"
starlette = "*"
ujson = "*"
uvicorn = "*"
uvloop = "*"
websockets = "*"
win32-setctime = "*"
face_recognition_models = "*"
Pillow = "*"

[requires]
python_version = "3.8"
